.footer{
    background-color: #14223b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    border-radius: 14px;
}
@media (max-width: 768px) {
    .footer{
        width: 100%;
    }
}
.footer-one{
    color: #fff;
    margin: 25px;
}
.footer-two{
    display: flex;
    justify-content: center;
    align-content: center;
}
.footer-two .footer-icons .footer-social-icons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.footer-three{
    margin: 20px 0px;
    text-align: center;
    color: #fff;
}