@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

body{
    margin: 0;
    padding: 2px;
    padding-top: 0px;
    padding-bottom: 5px;
    font-family: "Outfit", sans-serif;
    scroll-behavior: smooth;
    transition: all 1s ease-in-out;
}