.contact-page{
    padding: 5px;
    background-color: #f9f9f9;
    margin-bottom: 25px;
}
.contact-page h1{
    text-align: center;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
    animation: fadeInh1 0.6s ease-in-out;
}
@keyframes fadeInh1 {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.contact-page .contact-description {
    text-align: center;
    font-size: 1.1em;
    color: #664444;
    margin-bottom: 30px;
    animation: fadeInDescription 0.8s ease-in-out;
}
@keyframes fadeInDescription {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Card Side */


.address-info{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    animation: cardFadeIn 1s ease-in-out;
}
@media (max-width: 768px) {
    .address-info {
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
    }
    
}
@keyframes cardFadeIn {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Card Left Side */

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    padding-left: 50px;
    margin-left: 20px;
    width: 30%;
    height: 90%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
@media (max-width: 768px) {
    .contact-info {
        width: 60%;
        margin-left: 68px;
        padding-left: 40px;
    }
}
.contact-info p{
    margin-bottom: 20px;
    color: #555;
}
.contact-info .icon{
    font-size: 2rem;
    text-align: center;
    margin-right: 7px;
    color: rgb(91, 105, 231);
    background-color: rgb(247, 247, 249);
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 25px;
    transition: all 0.6s ease;
}
.contact-page .icon:hover{
    color: #fff;
    background-color: rgb(136, 147, 247);
    cursor: pointer;
}
.info-address{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.info-address p strong {
    font-weight: 700;
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #333;
}
.info-address p span {
    font-size: 1em;
    position: relative;
    top: 5px;
    color: #787777;
}



/* Card Right Side */


.input-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 60%;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
@media (max-width: 768px) {
    .input-info {
        width: 98%;
        margin-right: 0;
        padding-left: 2px;
    }
    
}
.contact-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-top: 7px;
    padding-left: 15px;
}
.contact-input label{
    font-weight: 400;
    font-size: 1.2em;
    color: #5d5c5c;
    margin-top: 15px;
}
.contact-input input{
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 15px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}
.contact-input input:focus{
    outline: none;
    border: 1px solid #4b6ef7;
}
.contact-input-subject input:focus{
    outline: none;
    border: 1px solid #4b6ef7;
}
.textarea-input button{
    padding: 12px;
    border: 2px dashed #4b6ef7;
    border-radius: 40px;
    background-color: #fff;
    color: #4b6ef7;
    font-size: 0.9rem;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
}
.textarea-input textarea:focus{
    outline: none;
    border: 1px solid #4b6ef7;
}
.textarea-input button:hover{
    background-color: #3a5cd7;
    border: 2px solid #4b6ef7;
    cursor: pointer;
    color: #fff;
}
.contact-input-subject{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 7px;
    padding-left: 15px;
    font-weight: 400;
    font-size: 1em;
    color: #5d5c5c;
    margin-bottom: 10px;
}
.contact-input-subject label {
    font-weight: 400;
    font-size: 1.2em;
    color: #5d5c5c;
    margin-top: 10px;
}
.contact-input-subject input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}
.textarea-input{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;
    font-size: 1em;
    padding-top: 7px;
    padding-left: 15px;
    color: #5d5c5c;
}
.textarea-input label {
    font-weight: 400;
    font-size: 1.2em;
    color: #5d5c5c;
    margin-top: 10px;
}
.textarea-input textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1em;
    width: 100%;
    height: 150px;
    box-sizing: border-box;
}