.contact-page{
    padding: 5px;
    background-color: #f9f9f9;
}
.contact-page h1{
    text-align: center;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}
.contact-page .contact-description {
    text-align: center;
    font-size: 1.1em;
    color: #664444;
    margin-bottom: 30px;
}
.address-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
.contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin-left: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.input-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}