.stats-section{
  padding-top: 10px;
  padding-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 12px;
  background-color: #0f1a2d;
  color: white;
  border-radius: 17px;
  text-align: center;
}
.stats-title{
  font-size: 28px;
  margin-bottom: 40px;
  color: #00b4ff;
  animation: fiddleIn 1s ease-in-out;
}
@keyframes fiddleIn{
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}
.stats-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
  max-width: 900px;
  margin: auto;
  animation: fiddleIngrid 1.2s ease-in-out;
}
@keyframes fiddleIngrid{
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
