.heading ,  .about-description {
  text-align: center;
  color: #333;
  margin-bottom: 0px;
}
.heading{
  animation: headfedin 0.6s ease-in;
}
@keyframes headfedin {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  from {
    opacity: 0;
    transform: translateY(30px);
  }
    
}
.about-description{
    animation: descriptionFadeIn 0.8s ease-in;
}
@keyframes descriptionFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  from {
    opacity: 0;
    transform: translateY(40px);
  }
}
.about .about-description {
  font-size: 1.2rem;
  margin-bottom: 0px;
}
.about hr {
  width: 95%;
  margin: 30px auto;
  border: 1px solid #ccc;
}
.about-content {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  margin: 10px auto;
  animation: contentFadeIn 1s ease-in;
}
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
  .about-description{
    text-align: center;
    margin: 18px auto;
    font-weight: 400;
    color: #4f4e4e;
  }
  .about-content img {
   position: relative;
    left: 20px;
    width: 90%;
    height: 300px;
    margin-left: 0;
  }
  .description-container{
    margin-left: 20px;
    padding: 0px;
  }
  .description-container-one , 
  .description-container-two , 
  .description-container-three , 
  .about-divider {
    position: relative;
    top: -24px;
  }
.description-container-one h2{
  text-align: center;
}
.description-container-two .about-list{ 
  position: relative;
  gap: 14px;
  left: 10px;
  }
  .description-container-two .about-list li{
    display: inline;
  }
}
.about-content img {
  width: 75%;
  height: 380px;
  margin-left: 50px;
  border-radius: 10px;
  object-fit: cover;
}
@keyframes contentFadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
  from {
    opacity: 0;
    transform: translateY(40px);
  }
}
.description-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}
.description-container-one {
  position: relative;
  top: -20px;
}
.description-container-two {
  display: flex;
  position: relative;
  left: -38px;
  flex-direction: row;
  gap: 15px;
  justify-content: left;
}
.about-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}
.about-list li {
  font-size: 1rem;
  color: #555;
}
.about-list li strong {
  color: #333;
  margin-right: 12px;
}
